.title {
    border-radius: 62px;
    margin: auto;
    border: 1px solid;
    width: 437px;
    background-color: #cccccc;
}

h1.website-title {
    text-align: center;
    color: #110054;
}

html {
    font-family: sans-serif;
    font-size: 1.15em;
}

body {
    background-color:burlywood;
}

p.copyright {
    text-align: center;
    color: #444;
}

div input {
    font-size: 16px;
    height:22px;
}

div select {
    font-size:16px;
    height:22px;
}

form div {
    text-align:center;
}

form div div {
    display:inline;
}

footer {
    text-align: center;
}

footer a {
    color: #5609b9;
    font-weight: bold;
    pointer-events: auto;
    text-decoration-color: rgb(14, 1, 1);
}

footer img {
    margin-left: auto;
    margin-right: auto;
    height: 45px; 
    width: 45px;

}

small {
    font-size: .9em;
}
